In [1]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
import requests
import lxml.html as lh

# Activate PRIOR TO SUBMISSION:

import warnings
warnings.filterwarnings("ignore")

In [2]:
def init_browser():
    # @NOTE: Replace the path with your actual path to the chromedriver
    executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
    return Browser("chrome", **executable_path, headless=False)

In [3]:
#Scrape NASA headlines

#def scrape_info():
browser = init_browser()

# Visit mars.nasa.gov
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url)


# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

# Scrape latest news title and corresponding paragraph

news_title = soup.find("div", class_="content_title").get_text()
news_p = soup.find("div", class_="article_teaser_body").get_text()

# Dictionary of results
marsnews_data = {
    "News": news_title,"Teaser": news_p}

# Close the browser after scraping
browser.quit()

# Return / print results
print(marsnews_data)

{'News': "NASA's MAVEN Explores Mars to Understand Radio Interference at Earth", 'Teaser': 'NASA’s MAVEN spacecraft has discovered “layers” and “rifts” in the electrically charged part of the upper atmosphere of Mars.'}

In [4]:
#Scrape for featured image + URL
browser = init_browser()
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

browser.click_link_by_id('full_image')
browser.click_link_by_partial_href('/spaceimages/details.php')       

img_path = "https://photojournal.jpl.nasa.gov/jpeg/"
scrape_pic = browser.links.find_by_partial_text('.jpg')


feat_path = scrape_pic.text

feat_img_url = (img_path+feat_path)

browser.quit()

print(feat_img_url)

https://photojournal.jpl.nasa.gov/jpeg/PIA17793.jpg

In [5]:
#MARS facts URL

facts_url = "https://space-facts.com/mars/"

In [6]:
# Locate HTML table
tables = pd.read_html(facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [7]:
# Table to DataFrame

df = tables[2]
df.columns = ['0','1']
mars_df = df.rename(columns={"0": "Title", "1": "Data"})
mars_df

                  Title                           Data
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [8]:
# Convert the data to a HTML table string

mars_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Title</th>\n      <th>Data</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [9]:
#---------- TWITTER FOR WEATHER---------#

In [10]:
browser = init_browser()
weather_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(weather_url)

In [11]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import TimeoutException
from splinter import Browser

In [12]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', executable_path, headless=True)

In [13]:
#Scrape Weather Tweet

browser = init_browser()

url = "https://twitter.com/marswxreport?lang=en"
browser.visit(url)
timeout = 5


time.sleep(5)
html = browser.html
soup = bs(html, 'html.parser')
mars_weather = soup.find('div', class_= "css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0").get_text()

browser.quit()

print(mars_weather)

InSight sol 422 (2020-02-03) low -90.2ºC (-130.3ºF) high -13.1ºC (8.5ºF)
winds from the SSE at 6.1 m/s (13.5 mph) gusting to 22.1 m/s (49.4 mph)
pressure at 6.20 hPa

In [14]:
#-----------------Mars Hemispheres Images----------------------#

In [15]:
browser = init_browser()
mars_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [16]:
#Scrape Images & URL
browser.visit(mars_url)

mars_hemispheres = browser.html
soup = bs(mars_hemispheres, 'html.parser')

images = soup.find_all('div', class_='item')


base_usgs_url = "https://astrogeology.usgs.gov"
images_list = []

for image in images:
    title = image.find('h3').text
    pic_url = image.find('a',class_="itemLink product-item")['href']
    browser.visit(base_usgs_url + pic_url)
    pic = browser.html
    soup = bs(pic, 'html.parser')
    img_url = base_usgs_url + soup.find('img', class_='wide-image')['src']
    images_list.append({"title" : title, "img_url" : img_url})
    
browser.quit()

print(images_list)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]